:root {
    --main-color: #A0D8B3;
    --second-color: #DBDFEA;

    /* Name colors in tailwind */
    /* teal-600 */
    /* gray-200 */
}

.hero-img {
    background-image: url(../Images/SignUp-Hero-img.png);
} 

.password {
    position: relative;
  }
  
  .password .eye {
    cursor: pointer;
    position: absolute;
    left: 13px;
    top: 33px;
  }
  
  .password .eye {
    left: 25px;
    top: 34px;
  }
  
  .fas {
    line-height: 2;
  }
  
  .eye i {
    color: var(--bold-main-color);
  }